.white {
  color:#ffffff;
  fill:#ffffff;
  background-color:#ffffff;
  stroke:#ffffff;
}
.green {
  color:#A0BF3B;
  fill:#A0BF3B;
  background-color:#A0BF3B;
  stroke:#A0BF3B;
}
.brown {
  color:#62381B;
  fill:#62381B;
  background-color:#62381B;
  stroke:#62381B;
}
.orange {
  color:#F15C27;
  fill:#F15C27;
  background-color:#F15C27;
  stroke:#F15C27;
}
.light-blue {
  color:#69C8C3;
  fill:#69C8C3;
  background-color:#69C8C3;
  stroke:#69C8C3;
}
.dark-blue {
  color:#4f6968;
  fill:#4f6968;
  background-color:#4f6968;
  stroke:#4f6968;
}
.yellow {
  color:#E8D320;
  fill:#E8D320;
  background-color:#E8D320;
  stroke:#E8D320;
}
.dark-yellow {
  color:#E8D320;
  fill:#E8D320;
  background-color:#E8D320;
  stroke:#E8D320;
}
.sky {
  color:#f6f4e5;
  fill:#f6f4e5;
  background-color:#f6f4e5;
  stroke:#f6f4e5;
}
.gray {
  color:#778899;
  fill:#778899;
  background-color:#778899;
  stroke:#778899;
}
.black {
  color:#000000;
  fill:#000000;
  background-color:#000000;
  stroke:#000000;
}
